<div class="col-sm-12">
<%= link_to 'HOME', home_path %>
<%= link_to 'SCRIPTS', scripts_path %>
<h1>About</h1>
<p>
President-elect Trump has appoint as chief strategist and senior counselor Steve Bannon, a leading figure of the alt-right and white supremacist movement and past executive chairman of the Breitbart News Network. He has repeatedly proven himself a racist, anti-Semitic, and misogynist, making him thoroughly unfit to serve one of the highest positions of our nation. We are determined to do all in our power to reverse this terrible choice, and we need your help.
</p>
<p>
Bannon's appointment is theoretically unchecked, but could be reversed if political leaders denounce this appointment and put pressure on President-elect Trump to do so. We must reach out to these political leaders and push them to denounce this appointment. In addition to securing the removal of Bannon, we also want to send a message to the Trump administration that we will not let its racism be normalized, and that we are prepared to oppose the choices of President-elect Trump.
</p>
<p>
Watch this page for resources and information about what we can do. <%= link_to 'HERE', scripts_path %> are scripts you can use to call yours senators and represantives.
</p>
<p>
The *most* effective way to call for action is by calling senators, congressmen, and representatives at their state offices. Visit <%= link_to 'HERE', home_path %> for their contact information.
</p>
<p>
  Visit <a href = 'https://www.splcenter.org/stephen-bannon-has-no-business-white-house'>petition</a> to sign the Southern Poverty Law Center's petition and pledge your support for this cause
</p>
</div>
