<div class="col-sm-12">
<%= link_to 'HOME', home_path %>
<%= link_to 'ABOUT', about_path %>
<h1>Scripts</h1>

<h5>Adapted from <a href = 'https://medium.com/@samala/for-the-love-of-all-that-is-holy-and-good-stopbannons-appointment-9880c4cb83b3#.n8isy7ikd' target="_blank">Samala</a> on Medium</h5>

<h3>For Democratic Senators and Representatives:</h3>
<ul>
<li>
  “Hello, my name is [your name]. I am a constituent, living in [address, district]. I am horrified at the news of Trump appointing Steve Bannon, a white supremacist, as one of his closest advisors. Please publicly condemn this appointment”
</li>
<li>
  “Hello, I am your constituent from [your location] and I was wondering when [legislator’s name] was planning on releasing a statement condemning Steve Bannon, the white supremacist who Donald Trump has appointed as his chief strategist.” (from @foundbysara)
</li>
<li>
  “Does [legislator’s name] agree with Harry Reid that Bannon’s appointment sends a dangerous signal that white supremacists “will be represented at the highest levels” in Trump’s administration? If so, please publicly condemn this appointment immediately.”
</li>
<li>
  “I am frightened by this as a [woman, as a Jewish person, as a Muslim person, as a black person, a queer person, etc.] American and I am asking [legislator’s name] to speak out against this appointment immediately, to make it clear that this is not acceptable. Can [legislator’s name] commit to standing with Harry Reid and speaking out publicly?”
</li>
<li>
  If the person responds that the representative has no intention of condemning Bannon, say, “I will call back tomorrow.” And call back tomorrow.
</li>
</ul>
<h3>For Republican Senators and Representatives:</h3>
<ul>
<li>
  “Hello, my name is [your name]. I am a constituent, living in [address, district]. I am horrified at the news of Trump appointing Steve Bannon, a white supremacist, as one of his closest advisors.”
</li>
<li>
  “How does [legislator’s name] feel about this appointment? Does this appointment represent his/her views? I am frightened by this [woman, as a Jewish person, as a Muslim person, as a black person, a queer person, etc.] and I am asking [legislator’s name] to speak out against this appointment immediately, to make it clear that this is not OK with mainstream Republicans.”
</li>
<li>
  “I believe that Bannon’s appointment sends a dangerous signal that white supremacists will be represented at the highest levels in Trump’s administration. Can [legislator’s name] commit to speaking out publicly against this appointment?”
</li>
<li>
  If the person responds that the representative has no intention of condemning Bannon, say, “I will call back tomorrow.” And call back tomorrow.
</li>
</ul>
<div class="col-sm-12">
